<footer class="footer footer-dark">
  <div class="d-flex justify-content-between px-5">
    <div>THIS WILL DISPLAY THE WEATHER CONDITIONS</div>
    <div>
      <img src="img/footer-logo.png" alt="logo" />
    </div>
  </div>
</footer>